@import url("https://fonts.googleapis.com/css?family=Raleway");

.glowingbtn {
  position: relative;
  color: hsl(300, 20%, 2%);
  cursor: pointer;
  padding: 0.35em 0.5em;
  border: 0.15em solid hsl(300, 20%, 2%);
  border-radius: 0.45em;
  background: rgba(255, 255, 255, 0.8);
  perspective: 2em;
  font-family: "Raleway", sans-serif;
  font-size: 2em;
  font-weight: 900;
  letter-spacing: 0.5em;
  width: 180px;
  height: 50px;
  

  -webkit-box-shadow: inset 0px 0px 0.5em 0px hsl(300, 20%, 2%),
    0px 0px 0.5em 0px hsl(300, 20%, 2%);
  -moz-box-shadow: inset 0px 0px 0.5em 0px hsl(300, 20%, 2%),
    0px 0px 0.5em 0px hsl(300, 20%, 2%);
  box-shadow: inset 0px 0px 0.5em 0px hsl(300, 20%, 2%),
    0px 0px 0.5em 0px hsl(300, 20%, 2%);
  animation: border-flicker 2s linear infinite;
}

.glowingtxt {
  float: left;
  margin-right: -0.8em;
  -webkit-text-shadow: 0 0 0.125em hsl(0 0% 100% / 0.3),
    0 0 0.45em hsl(300, 20%, 2%);
  -moz-text-shadow: 0 0 0.125em hsl(0 0% 100% / 0.3),
    0 0 0.45em hsl(300, 20%, 2%);
  text-shadow: 0 0 0.125em hsl(0 0% 100% / 0.3), 0 0 0.45em hsl(300, 20%, 2%);
  animation: text-flicker 3s linear infinite;
  font-size: 15px;
}

.faultyletter {
  opacity: 0.5;
  animation: faulty-flicker 2s linear infinite;
}

.glowingbtn::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 0.7;
  filter: blur(1em);
  transform: translateY(120%) rotateX(95deg) scale(1, 0.35);
  background: hsl(300, 20%, 2%);
  pointer-events: none;
}

.glowingbtn::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0;
  z-index: -1;
  background-color: hsl(300, 20%, 2%);
  box-shadow: 0 0 2em 0.2em hsl(300, 20%, 2%);
  transition: opacity 100ms linear;
}

.glowingbtn:hover {
  color: rgba(255, 255, 255, 0.8);
  text-shadow: none;
  animation: none;
}

.glowingbtn:hover .glowingtxt {
  animation: none;
}

.glowingbtn:hover .faultyletter {
  animation: none;
  text-shadow: none;
  opacity: 1;
}

.glowingbtn:hover:before {
  filter: blur(1.5em);
  opacity: 1;
}

.glowingbtn:hover:after {
  opacity: 1;
}

@keyframes faulty-flicker {
  0% {
    opacity: 0.1;
  }
  2% {
    opacity: 0.1;
  }
  4% {
    opacity: 0.5;
  }
  19% {
    opacity: 0.5;
  }
  21% {
    opacity: 0.1;
  }
  23% {
    opacity: 1;
  }
  80% {
    opacity: 0.5;
  }
  83% {
    opacity: 0.4;
  }

  87% {
    opacity: 1;
  }
}

@keyframes text-flicker {
  0% {
    opacity: 0.1;
  }

  2% {
    opacity: 1;
  }

  8% {
    opacity: 0.1;
  }

  9% {
    opacity: 1;
  }

  12% {
    opacity: 0.1;
  }
  20% {
    opacity: 1;
  }
  25% {
    opacity: 0.3;
  }
  30% {
    opacity: 1;
  }

  70% {
    opacity: 0.7;
  }
  72% {
    opacity: 0.2;
  }

  77% {
    opacity: 0.9;
  }
  100% {
    opacity: 0.9;
  }
}

@keyframes border-flicker {
  0% {
    opacity: 0.1;
  }
  2% {
    opacity: 1;
  }
  4% {
    opacity: 0.1;
  }

  8% {
    opacity: 1;
  }
  70% {
    opacity: 0.7;
  }
  100% {
    opacity: 1;
  }
}

@media only screen and (max-width: 600px) {
  .glowing-btn{
    font-size: 1em;
  }
}